<!DOCTYPE html>
<html>
	<head>
		<title>INFUSION MONITORING</title>
		<link rel='stylesheet' href='/stylesheets/css_ns.css' />	
		<script src="/javascripts/dygraph-combined.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script type="application/javascript">
			var socket = io("http://localhost:3000");

			socket.on('infus',function(data){
				var a = "<h4>Infus aktif: </h4>";
				for (var i = 0; i < data.idESP.length ; i++) {
					var a = a+'<a href="" id="dropdownmenu" class="'+data.idESP[i]+'">'+data.idESP[i]+'</a>';
				}
				document.getElementById("menu_esp").innerHTML = a;
			});				
			
			function modal(){
				var modal = document.getElementById('myModal');
				var span = document.getElementsByClassName('close')[0];
				var span2 = document.getElementsByClassName('off')[0];
				modal.style.display = "block";
				span.onclick = function() {modal.style.display = "none";}
				span2.onclick = function() {
					modal.style.display = "none";
					tambah($('#noInfus').val(), $('#jenisInfus').val(), $('#volume').val(), $('#durasi').val());
				}
				window.onclose = function(event) {if (event.target == modal) {modal.style.display = "none";}}
			}
			
			function tambah(idESP, jenisInfus, volume, durasi){
				socket.emit('tambah', {'idESP':idESP, 'jenisInfus':jenisInfus, 'volume':volume, 'durasi':durasi});
			}
		</script>
	</head>
	<body>
		<div id="myModal" class="modal">
			<div class="modal-content">
				<span class="close">&times;</span>
				<form class="tambah" action="">
					<input type="text" placeholder="noInfus (contoh: ESPXX)" id="noInfus" name="noInfus" /><br/><br/>
					<label>Jenis Infus </label><br/><br/>
						<input type="radio" id="jenisInfus" name="jenisInfus" value="RL" checked> Ringer Laktat<br/><br/>
						<input type="radio" id="jenisInfus" name="jenisInfus" value="NACL"> NaCL<br/><br/>
					<label>Volume (cc) </label>
					<select id="volume" name="volume">
						<option value="1000">1000</option>
						<option value="500">500</option>
						<option value="250">250</option>
					</select><br/><br/>
					<label>Durasi (jam) </label>
					<select id="durasi" name="durasi">
						<option value="16">16</option>
						<option value="8">8</option>
						<option value="4">4</option>
					</select><br/><br/>
					<input class="off" type="button" value="Submit" />
				</form>
			</div>
		</div>

		<div id="menu">
		<!--sesuai jumlah esp-->
			<!-- dropdown list infus -->
			<div id="menu_esp">
			</div>
			
		</div>
	
		<section id="main">	
			<div class ="header">ESP1</div>
			<div id="sound"></div>
			<div>
				<p id="demo"></p>
			</div>
			<hr>
			<h2>GRAFIK VELOCITY SENSOR</h2>
			<div id="graphdiv_velocity" class ="grafik">
				<script>
					$(document).ready(function () {
						var datavelocity = [];
						socket.on('inisialisasi',function(data){
							var ba = 24;
							var bb = 19;
							var j 	= 0;
							var y1 	= Number(data.velocity[j]);//initialing with first input
							var t 	= new Date();
								for (var i = data.velocity.length; i > 0; i--) {
									var x = new Date(t.getTime() - i * 60000); //set interval time taken for data, it's shows per second
									var y1 = Number(data.velocity[j]);
									datavelocity.push([x, y1, ba, bb]);
									g_velocity.updateOptions( { 'file': datavelocity } );
									j++;
								}
						});
						g_velocity = new Dygraph(document.getElementById("graphdiv_velocity"), datavelocity,
							{	drawPoints: true,
								showRoller: true,
								valueRange: [0, 45],
								labels: ['Waktu', 'Velocity', 'Batas Atas', 'Batas Bawah']}
						);
						socket.on('velocity',function(data){
							var ba = 24;
							var bb = 19;
							if(data.message < bb){   
								document.getElementById('sound').innerHTML='<audio autoplay><source src="/sound/hangouts_message.ogg" type="audio/ogg" /><embed hidden="true" loop="false" src="/sound/hangouts_message.ogg" type="audio/ogg"/></audio>';
								var notification = new Notification("PERINGATAN!", {body: "Infus "+ data.idESP +" terlalu lambat ", tag: "velocity lambat"+data.idESP});
							} else if(data.message > ba){
								document.getElementById('sound').innerHTML='<audio autoplay><source src="/sound/Bell-tone.mp3" type="audio/mpeg" /><embed hidden="true" loop="false" src="/sound/Bell-tone.mp3" type="audio/mpeg"/></audio>';
								var notification = new Notification("PERINGATAN!", {body: "Infus "+ data.idESP +" terlalu cepat ", tag: "velocity cepat"+data.idESP});
							}
							var x = new Date();  // current time
							var y1 = Number(data.message);//change voltage
							datavelocity.push([x, y1, ba, bb]);
							g_velocity.updateOptions( { 'file': datavelocity } );
						});
					});
				</script>
			</div>
			<hr>
			<h2>GRAFIK VOLUME SENSOR</h2>
			<div id="graphdiv_volume" class ="grafik">
				<script>
					$(document).ready(function () {
						var datavolume = [];
						socket.on('inisialisasi',function(data){
							var j 	= 0;
							var y1 	= Number(data.volume[j]);//initialing with first input
							var y2 	= 50;
							var t 	= new Date();
								for (var i = data.volume.length; i > 0; i--) {
									var x = new Date(t.getTime() - i * 3000); //set interval time taken for data, it's shows per second
									var y1 = Number(data.volume[j]);
									datavolume.push([x, y1, y2]);
									g_volume.updateOptions( { 'file': datavolume } );
									j++;
								}
						});
						g_volume = new Dygraph(document.getElementById("graphdiv_volume"), datavolume,
							{	drawPoints: true,
								showRoller: true,
								valueRange: [0, 1000.1],
								labels: ['Waktu', 'Volume', 'Batas']}
						);
						socket.on('volume',function(data){
							var x = new Date();  // current time
							var y1 = Number(data.message);//change voltage
							var y2 	= 50;
							datavolume.push([x, y1, y2]);
							g_volume.updateOptions( { 'file': datavolume } );
							
							if (data.message <= 50){
								document.getElementById('sound').innerHTML='<audio autoplay><source src="/sound/Alarm-tone.mp3" type="audio/mpeg" /><embed hidden="true" loop="false" src="/sound/Alarm-tone.mp3" type="audio/mpeg"/></audio>';
								var notification = new Notification("PERINGATAN!", {body: "Volume infus tinggal: "+data.message, tag: data.idESP});
								notification.onclose = function(){modal();}
							}
						});
					});
				</script>
			</div>
			<hr>
			<div class="footer">
				<p> Copyright 2016, by Naili Shofa </p>		
			</div>
		</section>
		<div id="home">
			<div class="judul">
				INFUSION MONITORING
			</div>
			<ul class="user_control">
				<li><a href="#myModal" onclick=modal()>TAMBAH</a></li>
				<li><a href="login">LOGOUT</a></li>
			</ul>
		</div>
	</body>
</html>
