<!DOCTYPE html>
<html>
<head>
	<%= title %>
	<link rel='stylesheet' href='/stylesheets/css_ns.css' />	
</head>
<body>
	<div id="login">
		<form method="post" action="loginperawat" name="tryLogin">
			<ul>
				<li><input type="text" 	 	placeholder="username" name="namaPerawat"/></li>
				<li><input type="password" 	placeholder="password" name="idPerawat" /></li>
				<li><input type="submit" 	 value=" Submit "/></li>
			</ul>
		</form>
	</div>
</body>
</html>
